<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- Configure session factory. -->
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<!-- Make SQL statement prettier. -->
		<property name="hibernate.format_sql">true</property>
		<!-- Enable hibernate to create tables automatically. -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Configure the mapping file. -->
		<!-- For nostalgia reasons, you can define <mapping resource="cn/itcast/sh/entity/User.hbm.xml"/> instead. -->
		<mapping class="cn.itcast.sh.entity.User"/>
	</session-factory>
</hibernate-configuration>