<?xml version="1.0" encoding="utf-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
        				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<!-- The properties file is located in src/main/resources. -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- Configure dataSource. -->
	<!-- Don't forget to add maven dependency for c3p0. -->
	<!-- p corresponds to setter injection. -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
		p:driverClass="${driverClass}"
		p:jdbcUrl="${jdbcUrl}"
		p:user="${user}"
		p:password="${password}"
		p:minPoolSize="${minPoolSize}"
		p:maxPoolSize="${maxPoolSize}"
		p:initialPoolSize="${initialPoolSize}"/>
	
	<!-- Configure hibernate session factory. -->
	<!-- dataSource-ref stands for data source reference. -->
	<!-- hibernate.cfg.xml is located under src/main/resources. -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:configLocation="classpath:hibernate.cfg.xml"/>
	
	<!-- Configure dao. -->
	<!-- sessionFactory-ref stands for session factory reference. -->
	<bean id="userDao" class="cn.itcast.sh.dao.admin.impl.UserDaoImpl"
		p:sessionFactory-ref="sessionFactory"/>
		
	<!-- Configure service. -->
	<!-- userDao-ref stands for userDao reference. -->
	<!-- You might notice that AdminServiceImpl provides a setter method for userDao, which means p corresponds to setter method. -->
	<bean id="adminService" class="cn.itcast.sh.service.impl.AdminServiceImpl"
		p:userDao-ref="userDao"/>
</beans>